@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=JetBrains+Mono%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Jolly+Lodger%3Aital%2Cwght%400%2C400&family=Inria+Sans%3Aital%2Cwght%400%2C400%3B0%2C700&family=Kadwa%3Aital%2Cwght%400%2C400%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-2EGjUBopfh6t_font-family: "Inter", sans-serif;
  --mixin-2EGjUBopfh6t_font-size: 16px;
  --mixin-2EGjUBopfh6t_font-weight: 400;
  --mixin-2EGjUBopfh6t_font-style: normal;
  --mixin-2EGjUBopfh6t_color: #535353;
  --mixin-2EGjUBopfh6t_text-align: left;
  --mixin-2EGjUBopfh6t_text-transform: none;
  --mixin-2EGjUBopfh6t_line-height: 1.5;
  --mixin-2EGjUBopfh6t_letter-spacing: normal;
  --mixin-2EGjUBopfh6t_white-space: pre-wrap;
  --mixin-2EGjUBopfh6t_user-select: text;
  --mixin-2EGjUBopfh6t_text-decoration-line: none;
  --mixin-2EGjUBopfh6t_text-overflow: clip;
  --mixin-1u4B_zVG9jsB_color: #000000;
  --mixin-1u4B_zVG9jsB_font-weight: 700;
  --mixin-1u4B_zVG9jsB_font-size: 64px;
  --mixin-1u4B_zVG9jsB_line-height: 1;
  --mixin-1u4B_zVG9jsB_letter-spacing: -1px;
  --mixin-1u4B_zVG9jsB_white-space: pre-wrap;
  --mixin-kupyWkt6BnOy_color: #000000;
  --mixin-kupyWkt6BnOy_font-size: 48px;
  --mixin-kupyWkt6BnOy_font-weight: 700;
  --mixin-kupyWkt6BnOy_letter-spacing: -0.5px;
  --mixin-kupyWkt6BnOy_line-height: 1.1;
  --mixin-kupyWkt6BnOy_white-space: pre-wrap;
  --mixin-OLEHfVirDucD_color: #0070f3;
  --mixin-OLEHfVirDucD_white-space: pre-wrap;
  --mixin-ZV3j2YwqTLYT_color: #000000;
  --mixin-ZV3j2YwqTLYT_font-size: 32px;
  --mixin-ZV3j2YwqTLYT_font-weight: 600;
  --mixin-ZV3j2YwqTLYT_line-height: 1.2;
  --mixin-ZV3j2YwqTLYT_white-space: pre-wrap;
  --mixin-1M9e5ydxu3LH_color: #000000;
  --mixin-1M9e5ydxu3LH_font-size: 24px;
  --mixin-1M9e5ydxu3LH_font-weight: 600;
  --mixin-1M9e5ydxu3LH_line-height: 1.3;
  --mixin-1M9e5ydxu3LH_white-space: pre-wrap;
  --mixin-sZY6d689uPjd_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-sZY6d689uPjd_border-bottom-color: #dddddd;
  --mixin-sZY6d689uPjd_border-bottom-style: solid;
  --mixin-sZY6d689uPjd_border-bottom-width: 1px;
  --mixin-sZY6d689uPjd_border-left-color: #dddddd;
  --mixin-sZY6d689uPjd_border-left-style: solid;
  --mixin-sZY6d689uPjd_border-left-width: 1px;
  --mixin-sZY6d689uPjd_border-right-color: #dddddd;
  --mixin-sZY6d689uPjd_border-right-style: solid;
  --mixin-sZY6d689uPjd_border-right-width: 1px;
  --mixin-sZY6d689uPjd_border-top-color: #dddddd;
  --mixin-sZY6d689uPjd_border-top-style: solid;
  --mixin-sZY6d689uPjd_border-top-width: 1px;
  --mixin-sZY6d689uPjd_border-bottom-left-radius: 3px;
  --mixin-sZY6d689uPjd_border-bottom-right-radius: 3px;
  --mixin-sZY6d689uPjd_border-top-left-radius: 3px;
  --mixin-sZY6d689uPjd_border-top-right-radius: 3px;
  --mixin-sZY6d689uPjd_font-family: "Inconsolata";
  --mixin-sZY6d689uPjd_padding-bottom: 1px;
  --mixin-sZY6d689uPjd_padding-left: 4px;
  --mixin-sZY6d689uPjd_padding-right: 4px;
  --mixin-sZY6d689uPjd_padding-top: 1px;
  --mixin-sZY6d689uPjd_white-space: pre-wrap;
  --mixin-YE5h0ndqr7NP_border-left-color: #dddddd;
  --mixin-YE5h0ndqr7NP_border-left-style: solid;
  --mixin-YE5h0ndqr7NP_border-left-width: 3px;
  --mixin-YE5h0ndqr7NP_color: #888888;
  --mixin-YE5h0ndqr7NP_padding-left: 10px;
  --mixin-YE5h0ndqr7NP_white-space: pre-wrap;
  --mixin-Opok3Oc-11Mf_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Opok3Oc-11Mf_border-bottom-color: #dddddd;
  --mixin-Opok3Oc-11Mf_border-bottom-style: solid;
  --mixin-Opok3Oc-11Mf_border-bottom-width: 1px;
  --mixin-Opok3Oc-11Mf_border-left-color: #dddddd;
  --mixin-Opok3Oc-11Mf_border-left-style: solid;
  --mixin-Opok3Oc-11Mf_border-left-width: 1px;
  --mixin-Opok3Oc-11Mf_border-right-color: #dddddd;
  --mixin-Opok3Oc-11Mf_border-right-style: solid;
  --mixin-Opok3Oc-11Mf_border-right-width: 1px;
  --mixin-Opok3Oc-11Mf_border-top-color: #dddddd;
  --mixin-Opok3Oc-11Mf_border-top-style: solid;
  --mixin-Opok3Oc-11Mf_border-top-width: 1px;
  --mixin-Opok3Oc-11Mf_border-bottom-left-radius: 3px;
  --mixin-Opok3Oc-11Mf_border-bottom-right-radius: 3px;
  --mixin-Opok3Oc-11Mf_border-top-left-radius: 3px;
  --mixin-Opok3Oc-11Mf_border-top-right-radius: 3px;
  --mixin-Opok3Oc-11Mf_font-family: "Inconsolata";
  --mixin-Opok3Oc-11Mf_padding-bottom: 3px;
  --mixin-Opok3Oc-11Mf_padding-left: 6px;
  --mixin-Opok3Oc-11Mf_padding-right: 6px;
  --mixin-Opok3Oc-11Mf_padding-top: 3px;
  --mixin-Opok3Oc-11Mf_white-space: pre-wrap;
  --mixin-J2fcWGePx9Mt_display: flex;
  --mixin-J2fcWGePx9Mt_flex-direction: column;
  --mixin-J2fcWGePx9Mt_align-items: stretch;
  --mixin-J2fcWGePx9Mt_justify-content: flex-start;
  --mixin-J2fcWGePx9Mt_list-style-position: outside;
  --mixin-J2fcWGePx9Mt_padding-left: 40px;
  --mixin-J2fcWGePx9Mt_position: relative;
  --mixin-J2fcWGePx9Mt_list-style-type: disc;
  --mixin-J2fcWGePx9Mt_white-space: pre-wrap;
  --mixin-7bJ5N-zP5PIc_display: flex;
  --mixin-7bJ5N-zP5PIc_flex-direction: column;
  --mixin-7bJ5N-zP5PIc_align-items: stretch;
  --mixin-7bJ5N-zP5PIc_justify-content: flex-start;
  --mixin-7bJ5N-zP5PIc_list-style-position: outside;
  --mixin-7bJ5N-zP5PIc_padding-left: 40px;
  --mixin-7bJ5N-zP5PIc_position: relative;
  --mixin-7bJ5N-zP5PIc_list-style-type: decimal;
  --mixin-7bJ5N-zP5PIc_white-space: pre-wrap;
  --mixin-gnscDwd4XTUJ_color: #000000;
  --mixin-gnscDwd4XTUJ_font-size: 20px;
  --mixin-gnscDwd4XTUJ_font-weight: 600;
  --mixin-gnscDwd4XTUJ_line-height: 1.5;
  --mixin-gnscDwd4XTUJ_white-space: pre-wrap;
  --mixin-kILB1uVb5p55_color: #000000;
  --mixin-kILB1uVb5p55_font-size: 16px;
  --mixin-kILB1uVb5p55_font-weight: 600;
  --mixin-kILB1uVb5p55_line-height: 1.5;
  --mixin-kILB1uVb5p55_white-space: pre-wrap;
  --mixin-r30Zh_4SWf6L_color: #3291ff;
  --mixin-r30Zh_4SWf6L_white-space: pre-wrap;
  --mixin-hIxolriWxPUh_white-space: pre-wrap;
  --mixin-O9mdaRU29t0b_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-2EGjUBopfh6t_font-family);
  font-size: var(--mixin-2EGjUBopfh6t_font-size);
  font-weight: var(--mixin-2EGjUBopfh6t_font-weight);
  font-style: var(--mixin-2EGjUBopfh6t_font-style);
  color: var(--mixin-2EGjUBopfh6t_color);
  text-align: var(--mixin-2EGjUBopfh6t_text-align);
  text-transform: var(--mixin-2EGjUBopfh6t_text-transform);
  line-height: var(--mixin-2EGjUBopfh6t_line-height);
  letter-spacing: var(--mixin-2EGjUBopfh6t_letter-spacing);
  white-space: var(--mixin-2EGjUBopfh6t_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-1u4B_zVG9jsB_color);
  font-weight: var(--mixin-1u4B_zVG9jsB_font-weight);
  font-size: var(--mixin-1u4B_zVG9jsB_font-size);
  line-height: var(--mixin-1u4B_zVG9jsB_line-height);
  letter-spacing: var(--mixin-1u4B_zVG9jsB_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-kupyWkt6BnOy_color);
  font-size: var(--mixin-kupyWkt6BnOy_font-size);
  font-weight: var(--mixin-kupyWkt6BnOy_font-weight);
  letter-spacing: var(--mixin-kupyWkt6BnOy_letter-spacing);
  line-height: var(--mixin-kupyWkt6BnOy_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-OLEHfVirDucD_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-ZV3j2YwqTLYT_color);
  font-size: var(--mixin-ZV3j2YwqTLYT_font-size);
  font-weight: var(--mixin-ZV3j2YwqTLYT_font-weight);
  line-height: var(--mixin-ZV3j2YwqTLYT_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-1M9e5ydxu3LH_color);
  font-size: var(--mixin-1M9e5ydxu3LH_font-size);
  font-weight: var(--mixin-1M9e5ydxu3LH_font-weight);
  line-height: var(--mixin-1M9e5ydxu3LH_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-sZY6d689uPjd_font-family);
  border-radius: var(--mixin-sZY6d689uPjd_border-top-left-radius)
    var(--mixin-sZY6d689uPjd_border-top-right-radius)
    var(--mixin-sZY6d689uPjd_border-bottom-right-radius)
    var(--mixin-sZY6d689uPjd_border-bottom-left-radius);
  padding: var(--mixin-sZY6d689uPjd_padding-top)
    var(--mixin-sZY6d689uPjd_padding-right)
    var(--mixin-sZY6d689uPjd_padding-bottom)
    var(--mixin-sZY6d689uPjd_padding-left);
  border-top: var(--mixin-sZY6d689uPjd_border-top-width)
    var(--mixin-sZY6d689uPjd_border-top-style)
    var(--mixin-sZY6d689uPjd_border-top-color);
  border-right: var(--mixin-sZY6d689uPjd_border-right-width)
    var(--mixin-sZY6d689uPjd_border-right-style)
    var(--mixin-sZY6d689uPjd_border-right-color);
  border-bottom: var(--mixin-sZY6d689uPjd_border-bottom-width)
    var(--mixin-sZY6d689uPjd_border-bottom-style)
    var(--mixin-sZY6d689uPjd_border-bottom-color);
  border-left: var(--mixin-sZY6d689uPjd_border-left-width)
    var(--mixin-sZY6d689uPjd_border-left-style)
    var(--mixin-sZY6d689uPjd_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-YE5h0ndqr7NP_color);
  padding-left: var(--mixin-YE5h0ndqr7NP_padding-left);
  border-left: var(--mixin-YE5h0ndqr7NP_border-left-width)
    var(--mixin-YE5h0ndqr7NP_border-left-style)
    var(--mixin-YE5h0ndqr7NP_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Opok3Oc-11Mf_font-family);
  border-radius: var(--mixin-Opok3Oc-11Mf_border-top-left-radius)
    var(--mixin-Opok3Oc-11Mf_border-top-right-radius)
    var(--mixin-Opok3Oc-11Mf_border-bottom-right-radius)
    var(--mixin-Opok3Oc-11Mf_border-bottom-left-radius);
  padding: var(--mixin-Opok3Oc-11Mf_padding-top)
    var(--mixin-Opok3Oc-11Mf_padding-right)
    var(--mixin-Opok3Oc-11Mf_padding-bottom)
    var(--mixin-Opok3Oc-11Mf_padding-left);
  border-top: var(--mixin-Opok3Oc-11Mf_border-top-width)
    var(--mixin-Opok3Oc-11Mf_border-top-style)
    var(--mixin-Opok3Oc-11Mf_border-top-color);
  border-right: var(--mixin-Opok3Oc-11Mf_border-right-width)
    var(--mixin-Opok3Oc-11Mf_border-right-style)
    var(--mixin-Opok3Oc-11Mf_border-right-color);
  border-bottom: var(--mixin-Opok3Oc-11Mf_border-bottom-width)
    var(--mixin-Opok3Oc-11Mf_border-bottom-style)
    var(--mixin-Opok3Oc-11Mf_border-bottom-color);
  border-left: var(--mixin-Opok3Oc-11Mf_border-left-width)
    var(--mixin-Opok3Oc-11Mf_border-left-style)
    var(--mixin-Opok3Oc-11Mf_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-J2fcWGePx9Mt_display);
  flex-direction: var(--mixin-J2fcWGePx9Mt_flex-direction);
  align-items: var(--mixin-J2fcWGePx9Mt_align-items);
  justify-content: var(--mixin-J2fcWGePx9Mt_justify-content);
  list-style-position: var(--mixin-J2fcWGePx9Mt_list-style-position);
  padding-left: var(--mixin-J2fcWGePx9Mt_padding-left);
  position: var(--mixin-J2fcWGePx9Mt_position);
  list-style-type: var(--mixin-J2fcWGePx9Mt_list-style-type);
  flex-column-gap: var(--mixin-J2fcWGePx9Mt_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-7bJ5N-zP5PIc_display);
  flex-direction: var(--mixin-7bJ5N-zP5PIc_flex-direction);
  align-items: var(--mixin-7bJ5N-zP5PIc_align-items);
  justify-content: var(--mixin-7bJ5N-zP5PIc_justify-content);
  list-style-position: var(--mixin-7bJ5N-zP5PIc_list-style-position);
  padding-left: var(--mixin-7bJ5N-zP5PIc_padding-left);
  position: var(--mixin-7bJ5N-zP5PIc_position);
  list-style-type: var(--mixin-7bJ5N-zP5PIc_list-style-type);
  flex-column-gap: var(--mixin-7bJ5N-zP5PIc_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-gnscDwd4XTUJ_color);
  font-size: var(--mixin-gnscDwd4XTUJ_font-size);
  font-weight: var(--mixin-gnscDwd4XTUJ_font-weight);
  line-height: var(--mixin-gnscDwd4XTUJ_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-kILB1uVb5p55_color);
  font-size: var(--mixin-kILB1uVb5p55_font-size);
  font-weight: var(--mixin-kILB1uVb5p55_font-weight);
  line-height: var(--mixin-kILB1uVb5p55_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-r30Zh_4SWf6L_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
